html {
    box-sizing: border-box;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(41, 41, 41);
    grid-gap: 20px;
}

.top-section {
    background-color: red;
    margin: 30px 20px;
}

#title {
    grid-column: 1 / span 1;
}

#date-container {
    grid-column: 2 / span 1;
    text-align: right;
}

.themes {
    display: flex;
    align-content: flex-end;
    width: 40%;
    justify-content: space-between;
    flex-direction: row;
}

.colorbox {
    width: 25px;
    height: 25px;
}

#black {
    background-color: grey;
}

#red {
    background-color: pink;
}

#green {
    background-color: seagreen;
}

#yellow {
    background-color: yellow;
}

.heading, .tasks {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.days, .checkbox-holder {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.center {
    text-align: center;
    width: 100%;
    margin-top: 5px;
    color: rgb(143, 129, 129);
    font-size: 40px;
}

.toright {
    margin-right: 1rem;
    float: right;
}

.day-of-week, .task-checkbox {
    margin: 2px;
    border-radius: 4px;
}

.task-holder {
    background: rgb(20, 19, 19);
    border-radius: 8px;
    color: rgb(236, 223, 223);
    padding-left: 15px;
}

.task-holder, .checkbox-holder {
    margin-bottom: 0.5rem;
}